$header-background-start-gradient-color: #20678A;
$header-background-end-gradient-color: #02111d;

.eis-side-bar{
    // border: 1px solid brown;    
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;    
    background: $header-background-end-gradient-color;
    /* Old browsers */
    background: -moz-linear-gradient(left, $header-background-end-gradient-color 0%, $header-background-start-gradient-color 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, $header-background-end-gradient-color 0%, $header-background-start-gradient-color 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, $header-background-end-gradient-color 0%, $header-background-start-gradient-color 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$header-background-end-gradient-color, endColorstr=$header-background-start-gradient-color, GradientType=1);
    /* IE6-9 */
    //Box Shadow
    -webkit-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.35);

    .navigation-panel{
        // border: 1px solid white;
        position: relative;
        top:14%;
        color: white;
        text-align: left;
        ul{
            padding: 0 0 0 0px;
            list-style: none;
            li{
                padding: 20px 10px;
                cursor: pointer;
                border-bottom: 1px solid #10123B;
                
                &.active{
                    border-right: 5px solid #39B2EE;
                }
            }
        }
    }//end:.navigation-panel
}